body {
    width: 100vw;
    margin: 0 auto;
    background-color: black !important;
     /* --- grad --*/
    /* background:linear-gradient(45deg, #090c0e,#442344,#2c306d);グラデーションを定義 */
	/* background-size: 200% 200%;/*サイズを大きくひきのばす*/
	/* animation: bggradient 20s ease infinite; */
}


/* @keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.body {
    font-family: 'Noto Serif JP', serif;
}

p, a{
    color: white;
}

.mov{
    margin:20vh auto;
    max-width:800px;
    max-height:500px;
    width: 100%;
    aspect-ratio: 16 / 9;
}
.mov iframe {
    width: 100%;
    height: 100%;
}
/* @media screen and (min-width:768px) and ( max-width:1024px) {
    .mov{
        width: 90vw;
    }
} */

.full-width-img{
    margin: 0; 
    width: 100vw;
}

.concept{
    max-width: 500px;
    margin: 15vh auto 0 auto;
}
.me{
    max-width: 800px;
    margin: 1em auto 0 auto !important;
    font-size: 10pt;
    display: block;
}
.let10{
    letter-spacing: 8px;
}

.sans {
    font-family: 'Noto Sans', sans-serif;
}

h3, h2, h1, h4, h5, h6{
    max-width: 800px;
    margin: 5vh auto !important;
    text-align: center;
}

.footer{
    width: 100vw;
    margin-top: 3vh;
    padding:2em 13%; 
    border-top: 0.75px solid #313131;
    text-align: center;
    font-size: 9pt;
    color: #4b4b4b;
    font-family: 'Noto Serif JP',serif;

}

@media screen and (max-width: 600px) {
    p, a, h1, h2, h3, h4, h5, h6 ,.me {
        margin-left: 7vw !important;
        margin-right: 7vw !important;
    }
}



